.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}

.mode-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.control-container {
  display: flex;
  gap: 30px;
}

.round-result {
  min-width: 150px;
}

.arena-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
